@model MvcWebCv.Models.Entity.TblSertifikalarım

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Sertifika Kaydet</h2>
<hr />
<form class="form-group" method="post">
    @Html.Label("Sertifika")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</form>




